* { box-sizing: border-box; }

body {
    font-family: 'Merriweather';
}
.disp-inline-block {
    display: inline-block;
    margin: 0.3vw;
    color: #2a357c;
    padding-bottom: 0.5em;
}
.disp-inline-block img{
 max-width: 14vw;
 max-height: 8vw;
}
.disp-inline-block span {
    display: block;
    text-align: center;
    font-size: 0.73vw;
    font-family: sans-serif;
}
.disp-inline-block h4 {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 0.9vw;  
}
.disp-inline-block:hover {
    background-color:  #2a357c;
    color: white;
}
.disp-inline-block_hide-1080 {
    display: inline-block;
    margin: 0.3vw;
    color: #2a357c;
    padding-bottom: 0.5em;
}
.disp-inline-block_hide-1080 img{
 max-width: 14vw;
 max-height: 8vw;
}
.disp-inline-block_hide-1080 span {
    display: block;
    text-align: center;
    font-size: 0.73vw;
    font-family: sans-serif;
}
.disp-inline-block_hide-1080 h4 {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 0.9vw;
}
.disp-inline-block_hide-1080:hover {
    background-color:  #2a357c;
    color: white;
}
footer {
    text-align: center;
    margin-bottom: 2vw;
    padding: 1vw;
    color:  #2a357c;
}
footer a {
    text-decoration: none;
    color:  #2a357c;
}
.disp-in p {
    display: inline;
    margin-left: 2vw;
    font-family:Calibri;
}
.container {
    position: relative;
    text-align: left;
    color: white;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.container img {
    width: 80%;
    height: auto;
    margin: auto;
}
.banner-center-left {
    position: absolute;
    top: 2em;
    left: 14em;
    background-color: black;
    opacity: 0.9;
    color: #B1D4E7;
    filter: alpha(opacity=80);
    font-size: 2vw;
    font-weight: bold;
    padding: 0;
    margin:0;
    
}
.banner-bottom-left {
    position: absolute;
    top: 7em;
    left: 28em;
    background-color: black;
    opacity: 0.9;
    color: greenyellow;
    filter: alpha(opacity=80);
    font-size: 1vw;
    font-weight: bold;
    padding: 0;
    margin:0;
    
}
.banner-bottom{
    position: absolute;
    top: 11em;
    left: 35em;
    font-size: 0.8vw;
    background-color: black;
    opacity: 0.9;
    color: #B1D4E7;
    filter: alpha(opacity=80);
    text-align: left;
    padding: 0;
    margin:0;
}
.movies-container {
    position: relative;
    text-align: left;
    color: white;
    background-color: #150000;
}
.movies-container img {
    width: 100%;
    height: auto;
    margin: auto; 
}
.movies-banner-center-left {
    position: absolute;
    top: 2em;
    left: 12.5em;
    background-color: #000000;
    opacity: 0.9;
    color: #FDCA88;
    filter: alpha(opacity=80);
    font-size: 2vw;
    font-weight: bold;
    padding: 0;
    margin:0;
}
.movies-banner-bottom-left {
    position: absolute;
    top: 7em;
    left: 25em;
    background-color: #000000;
    opacity: 0.9;
    color:#A3DE4A;
    filter: alpha(opacity=80);
    font-size: 1vw;
    font-weight: bold;
    padding: 0;
    margin:0;
    
}
.movies-banner-bottom{
    position: absolute;
    top: 11em;
    left: 31.25em;
    font-size: 0.8vw;
    background-color: #000000;
    opacity: 0.9;
    color: #FDCA88;
    filter: alpha(opacity=80);
    text-align: left;
    padding: 0;
    margin:0;
    
}
.account-container {
    position: relative;
    text-align: left;
    background-color: #EAE6E9;
    margin: auto;
    width: 100%;
}
.account-container img {
    width: 100%;
    margin: auto; 
    height: auto;
}
.account-banner-center  {
    position: absolute;
    top: 1em;
    left: 15.5em;
    color: #29382D;
    opacity: 0.9;
    filter: alpha(opacity=90);
    font-size: 1.9vw;
    font-weight: bold;
    background-color: #EAE6E9;
    
}
.account-banner-left  {
    position: absolute;
    top: 4.5em;
    left: 28em;
    color: #02374B;
    opacity: 0.9;
    filter: alpha(opacity=90);
    font-size: 1.05vw;
    font-weight: bold;
    background-color: #EAE6E9;
    
}
#wrapper {
    width: 80%;
    margin-right:auto;
    margin-left :auto;
}
#top {
    width: 100%;
    display: inline-block;
}
#table-container {
    text-align: center;
    font-size: 1.25vw;
}
.container-body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    text-align: center;
}
.container-body h3 {
    color: #2a357c;
    font-size: 1.5vw;
    margin: 1vw;
    margin-top: 2vw;
    
}
header img{
    float: left;
    max-height: 4vw;
}
nav {
    float: right;
    margin-top: 0.9vw;
}
nav a {
    margin-right: 1.05vw;
    text-decoration: none;
    font-size: 1.10vw;
    padding: 0.3vw;
    border-radius : 10px;
    color: #2a357c;
    font-weight: bold;
    
}
nav a:hover {
    background-color: #2a357c;
    color: white;
}
table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}
th, td  {
    padding: 0.3em;    
    border: 2px solid #29382D; 
}
tbody tr:nth-of-type(odd) {
    background-color: #ebe6ea;
}
#table-container {
    color: #29382D;
}
.follow-us img {
    width: 3vw;
}
@media only screen and (max-width: 1024px) {
    .banner-bottom {
        display: none;
    }
    .movies-banner-bottom {
        display: none;
    }
    .disp-inline-block span {
        display: none;
    }
    .disp-inline-block h4 {
        font-size: 1.2vw;
    }
    .container-body h3 {
        font-size: 1.7vw;
    }
    .disp-inline-block img{
        max-width: 20vw;
        max-height: 12vw;
    }
    .disp-inline-block_hide-1080 {
        display: none;
    }
    header img {
        max-height: 5vw;
    }
    nav a {
        font-size: 1.75vw;
        margin: 0.35vw;
        }
    .follow-us img {
    width: 4vw;
    }
}
@media only screen and (max-width: 768px) {
    header img {
        max-height: 7vw;
    }
    nav {
        margin-top: 0;
    }
    nav a {
        font-size: 2.25vw;
        margin: 0.75vw;
        padding: 1.5vw;
        }
    h2 {
        font-size: 3em;
        }
    h3 {
        font-size: 2em;
        }
    .container img {
        width: 100%;
    }
    .container-body h3 {
        font-size: 2.5vw;
    }
    .banner-center-left {
        font-size: 3vw;
        }
    .banner-bottom-left {
        display: none;
    }
    .movies-banner-center-left {
        font-size: 3vw;
        }
    .movies-banner-bottom-left {
        display: none;
    }
    .account-banner-center  {
        font-size: 3vw;
    }
    .account-banner-left  {
        display: none;
        }
    .disp-inline-block {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin: 1em;
    }
    .disp-inline-block h4 {
        font-size: 1.75vw;
    }
    .disp-inline-block img{
     max-width: 40vw;
     max-height: 20vw;
     }
    table {
        border: 0;
        padding: 0;
      }
    table, thead, th, tbody, tr, td {
        display: block;
        font-size: 1.25em;
      }
    thead {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
    tr {
        border-top: 1px solid #f2f2f2;
        padding-top: 1em;
        margin-top: 1em;
      }
    tbody tr td {
        border: none;
        margin: 0 1em;
        padding: 0.2em;
        line-height: 1.3em;
      }
    td:nth-of-type(1) {
        display: inline-block;
        font-weight: bold;
        padding-bottom: 1em;
      }
    td {
        text-align: right;
        }
    td:before {
        float: left;
        font-size: 0.75em;
        }
    td:nth-of-type(2):before {
        content: 'Devices: ';
      }
    td:nth-of-type(3):before {
        content: 'Price (per month): ';
      }
    td:nth-of-type(4):before {
        content: 'HD Quality: ';
      }
    td:nth-of-type(5):before {
        content: 'Trial Period: ';
      }
    td:nth-of-type(6):before {
        content: 'On Demand Movies (/month): ';
      }
    td:nth-of-type(7):before {
        content: 'Live TV: ';
      }
    td:nth-of-type(8):before {
        content: 'Channels: ';
      }
    .follow-us img {
    width: 5vw;
    }
    
   
}


