* { box-sizing: border-box; }

body {
    font-family: 'Merriweather',sans-serif;
    background-color: #FAF3E3;
    color: #355a24;
}

#wrapper {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

header {
    background-image: url(../images/Logo.png);
    background-repeat: no-repeat;
    background-size: 8em;
    height:9em;
}

h1 {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#container {
    display: inline-flex;    
    align-items: center; 
    width: 100%;
    justify-content: space-between;
	flex-wrap: wrap;
}
nav {
    font-weight: bold;
}

nav li {
    display: inline;
    margin-right: 2vw;
}
nav a {
    text-decoration: none;
    padding: 0.5vw;
    color: #355a24;
}

nav ul {
    font-size: 1.25em;
    list-style-type: none;
    padding: 0;
}

nav a:visited {
    background-color: #FAF3E3;
    color:#49245A;
}
nav a:hover {
    background-color: #355a24;
    color:#FAF3E3;
}

#gallery {
    height: 26vw;
    width: 40vw;
    border-radius: 1vw;
}

#img-container {
    width: 40vw;
    height: 26vw;
    border-radius: 1vw;
    margin-right: 2vw;
}

.ui-accordion-header h4 {
    color:#49245A;
}

.box {
    background-color: white;
    border: 2vw solid white;
    border-radius: 1vw;
    box-shadow: 10px 5px 5px lightgray;
    display: flex; 
    flex-direction:row;
    align-items: flex-start;
    justify-content:flex-start;   
}

p, ul {
    font-size: 1em;
}
.title-panel p{
    color : black;
}
#heading {
    font-size: 2.5em;
    font-weight: bold;
    color:#5a2924;
}
h2 {
    font-size : 1.75em;
}
h4 {
    font-size: 1.1em;
}
footer {
    text-align: center;
    margin-bottom: 2vw;
    padding: 1vw;
    color: black;
}
footer a {
    text-decoration: none;
    font-size: 1em;
    color: black;
}
.disp-in p, .disp-in a {
    display: inline;
    margin-left: 2vw;
}
.follow-us img {
    width: 4vw;
    height: auto;
    }

.box-column {
    margin: 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4vw;
}

.box-column div {
    color: white;
    background-color: #355a24;
    border-radius: 1vw;
    padding: 2vw;
}

.box-list1 {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 4vw;
    align-items: center;
}
.box-list2 {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 4vw;
    align-items: center;
}

.listing-img {
    height: 25vw;
    width: 35vw;    
    border: 2px solid slategray;
    border-radius: 0.5vw;
}
#faq-container {
    border: 0.5vw solid white;
    width: 60vw;
    padding: 0 2vw 2vw 2vw;
}
.faq-panel, .faq-panel-details {
    border-bottom: 0.15vw solid white;
    padding: 0.2vw;
}

.input-form {
    width:53vw;
    margin-bottom: 1vw;
    display: flex;
    justify-content: space-between;
}

input,select {
    width: 15vw;
    height: 2vw;
}

label {
    color:#49245A;
    display: inline-block;
    width: 10vw;
    height: 2vw;
    text-align: right;
    margin-right: 1vw;
}

#textarea {
    width: 53vw;
    height: 5vw;
    display: grid;
    grid-template-columns: 1fr 9fr;
}


@media only screen and (max-width: 1024px) {
    header {
        width: 8em;
    }
    #faq-container {
        width: 100%;
    }
    .input-form {
        width:90%;
    }
    input,select {
        width: 10em;
        height: 1.5em;
    }
    label {
        width:7.5em;
    }
    #textarea {
        width: 90%;
    }
    textarea {
        height: 4em;
    }
}


@media only screen and (max-width: 768px) {
    header,nav {
        width: 100%;
    }
    header {        
        background-position: center;
    }
    nav li,header  {
      display:block;
     text-align: center;
    }
    
    #gallery {
        width: 100%;
        height: 45vw;
    }
    #img-container {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .box-list1 {
        grid-template-columns: 3fr 7fr;
        grid-gap: 1em;
    }
    .box-list2 {
        grid-template-columns: 7fr 3fr;
        grid-gap: 1em;
    }
    
    .box-column {
        display: block;
    }
    .box {  
        display: block; 
    }
    .input-form, input, select,label,textarea, #textarea {
        display: block;
    }
    input,select,textarea,label {
        width: 100%;
    }
    label {
        text-align: left;
        height: auto;
        margin: 0.2em;
    }
    #textarea, textarea {
        height: 7em;
    }
    .follow-us img {
        width: 7vw;
        }
    .disp-in p, .disp-in a {
        display: block;
        margin: 0.8em;
    }
    .box-column div {
        margin: 2vw;
    }
}