* {
    box-sizing: border-box;
    font-family: 'Merriweather',sans-serif;
}

html, body {
  height:100%;
  margin:0;
}

body {
    background-color: #bb82dc;
}

#home h1 {
    font-size: 4em;
    margin: 0.2em;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.instuctionBox {
    padding: 0.5em;
    margin: 0 auto;
    text-align: center;
}

.hide {
    display: none;
}
.btn {
    font-size: 1em;
    padding: 1em;
    width: 10em;
    text-align: center;
    border: 0.1em solid #551ee1;
    background-color: white;
    color: #551ee1;
    margin-bottom: 0.5em;
    text-decoration: none;
    border-radius: 1em;
}

.btn:hover {
    box-shadow: 0 4px 5px #551ee1;
    transform: translate(-2px);
    transition: transform 300ms;
}

.btn[disabled]:hover {
    box-shadow: none;
    transform: none;
}

.themeBox {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}
.themeBtn {
    font-size: 1em;
    padding: 1em;
    width: 10em;
    height: 5em;
    text-align: center;
    border: 0.1em solid #551ee1;
    background-color: white;
    color: #551ee1;
    margin-left: 0.5em;
    text-decoration: none;
    border-radius: 1em;
}

.themeBtn:hover {
    box-shadow: 0 4px 5px #551ee1;
    transform: translate(-2px);
    transition: transform 300ms;
}

.headingBtn {
    font-size: 1em;
    padding: 1em;
    width: 10em;
    text-align: center;
    background-color: #551ee1;;
    color: white;
    margin: 0.5em auto;
    text-decoration: none;
    border-radius: 1em;
}

.headingBtn:hover {
    box-shadow: 2px 2px 5px white;
    transform: translate(-2px);
    transition: transform 300ms;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input {
    width: 12em;
    padding: 1em;
    margin-bottom: 1em;
    border: none;
    box-shadow: 2px 2px 4px #551ee1;
}

form span {
    display: block;
    margin-bottom: 0.5em;
}
#validation {
    margin: 1em;
}